<p>This is the partial for view 3.</p>
<hr>
<h3>Add task</h3>
<div id="AddWeek3">
    <form name="taskForm">
        <p>
            <label for="Number">
            <span>Number:</span>
            <input id="Number" type="text" name="Number" ng-model="inputNumber" required/>
            <abbr title="required">*</abbr>
            </label>
        </p>

        <p>
            <label for="Description">
            <span>Description:</span>
            <input id="Description" type="text" name="Description" ng-model="inputDescription" required/>
            <abbr title="required">*</abbr>
            </label>
        </p>

        <p>
            <label for="completed">
            <span>Completed:</span>
            <input id="Completed" type="text" name="Completed" ng-model="inputCompleted" required/>
            <abbr title="required">*</abbr>
            </label>
        </p>
        <button ng-click="AddTaskToList()">Add</button>
    </form>
</div>
<br/>
<hr>
<h3>Remove task</h3>
<div id="RemoveTask">
    <label>To remove: </label>
    <select ng-model="selectedTaskIndex">
        <option ng-repeat="task in tasks" value="{{$index}}">{{task.number}}</option>
    </select>

    <button ng-click="ComboBoxRemove()">Remove</button>
</div>

<hr>
<hr>
<h3>Tasks</h3>
<ul ng-repeat="task in tasks">
  <li>|Task number: {{task.number}} | Description: {{task.description}} | <a href="" ng-click="ShowInfo(task)">View</a> | <a href="" ng-click="EditTask(task)">Edit</a></li>
</ul>

<div id="divData" ng-show="IsVisible"></div>

<div id="UpdateTask" ng-show="UpdateTaskVisible">
    <h3>Update task</h3>
    <form name="taskForm">
        <input id="updateTaskNumber" type="text" name="Number" ng-model="updatedInputNumber" hidden="true">
        <p>
            <label for="Description">
            <span>Description:</span>
            <input id="updatedDescription" type="text" name="Description" ng-model="updatedInputDescription" required/>
            <abbr title="required">*</abbr>
            </label>
        </p>

        <p>
            <label for="completed">
            <span>Completed:</span>
            <input id="updatedCompleted" type="text" name="Completed" ng-model="updatedInputCompleted" required/>
            <abbr title="required">*</abbr>
            </label>
        </p>
        <button ng-click="UpdateTask()">Update</button>
    </form>
</div>

<hr>
<p>done by Lyubomir </p>
