<h1 style="margin-top: 75px; text-align: center;">Tasks</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default panel-table">
              <div class="panel-heading">
                <div class="row">
                    <form name="taskForm">
                        <div class="col col-xs-2">
                            <input id="Number" type="text" name="Number" ng-model="inputNumber" placeholder="Number" style="width: 100%;" required/>
                        </div>
                        <div class="col col-xs-2">
                            <input id="Description" type="text" name="Description" ng-model="inputDescription" placeholder="Title" style="width: 100%;" required/>
                        </div>
                        <div class="col col-xs-2">
                            <input id="Completed" type="text" name="Completed" ng-model="inputCompleted" placeholder="Description" style="width: 100%;" required/>
                        </div>
                         <div class="col col-xs-2">
                            <input id="Status" type="text" name="Status" ng-model="inputStatus" placeholder="Status" style="width: 100%;" required/>
                        </div>
                        <div class="col col-xs-2">
                            <input id="Start" type="text" name="Start" ng-model="inputStart" placeholder="Start" style="width: 100%;" required/>
                        </div>
                        <div class="col col-xs-2">
                            <input id="End" type="text" name="End" ng-model="inputEnd" placeholder="End" style="width: 100%;" required/>
                        </div>
                        <div class="col col-xs-2 text-right">
                            <button ng-click="AddTaskToList()" class="btn btn-sm btn-primary btn-create">Add</button>
                        </div>
                    </form>
                </div>
                <hr style="margin: 5px;">
                <div class="row text-center">
                    <input type="text" id="descriptionSearch" ng-model="filterValue" placeholder="Search" style="width: 25%; text-align: center; font-style: italic;"/>
                </div>
              </div>
              <div class="panel-body">
                <table class="table table-striped table-bordered table-list">
                    <thead>
                        <tr>
                            <th><em class="fa fa-cog"></em></th>
                            <th class="hidden-xs">ID</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Start date</th>
                            <th>End date</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="task in tasks | filter: filterValue">
                        <td align="center">
                          <a class="btn btn-default" ng-click="EditTask(task)" data-toggle="modal" data-target="#edit_task"><em class="fa fa-pencil"></em></a>
                          <a class="btn btn-danger" ng-click="DeleteTask(task)"><em class="fa fa-trash"></em></a>
                        </td>
                        <td class="hidden-xs">{{task.no}}</td>
                        <td>{{task.title}}</td>
                        <td>{{task.description}}</td>
                        <td>{{task.status}}</td>
                        <td>{{task.creatioDate.toString()}}</td>
                        <td>{{task.finishedDate.toString()}}</td>
                      </tr>
                    </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade edit_task" id="edit_task">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                <h3 class="modal-title">Update task</h3>
            </div>
            <div class="modal-body">
                <form name="taskForm">
                    <input id="updateTaskNumber" type="text" name="Number" ng-model="updatedInputNumber" hidden="true">
                    <p>
                        <label for="Description">
                          <span>Title:</span>
                          <input id="updatedDescription" type="text" name="Description" ng-model="updatedInputDescription" required/>
                        </label>
                    </p>

                    <p>
                        <label for="completed">
                          <span>Description</span>
                          <input id="updatedCompleted" type="text" name="Completed" ng-model="updatedInputCompleted" required/>
                        </label>
                    </p>

                    <p>
                        <label for="Start">
                          <span>Start date:</span>
                          <input id="updatedStart" type="text" name="Start" ng-model="updatedInputStart" required/>
                        </label>
                    </p>

                    <p>
                        <label for="End">
                          <span>End date:</span>
                          <input id="updatedEnd" type="text" name="End" ng-model="updatedInputEnd" required/>
                        </label>
                    </p>
                    <button ng-click="UpdateTask()" class="btn btn-primary btn-create" data-dismiss="modal">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
<p>done by Lyubomir </p>
