<p style="margin-top: 75px;">This is the partial for view 2 (Employees).</p>
<h4> done by Alex </h4>

<!--<ul>
    <li>Here are listed the titles:</li>
    <li ng-repeat="title in titles">hi: {{title}}</li>
</ul>-->
<hr/>


<div class="container">
    <h4><u>Number of employees:<small> {{employees.length}}</small></u></h4>
<detail-modal></detail-modal>


    <div id="alexSearch">
        <p>
            <label for="nameSearch"> Search for Employee</label>
            <input type="text" id="nameSearch" ng-model="filterValue" />
        </p>
    </div>

    <div id="EmployeeList">
        <input type="checkbox" ng-model="alexDetails" /> Show Details (index)<br/><br/>
        <my-employees-list></my-employees-list>
    </div>
    <br/>

    <div id="AlexForms">
        <div id="AlexAddEmployees" class="col-sm-4">
            <h3>To Add <small>{{inpName}} : {{inpBirthDate}} : {{inpGender}}</small></h3>
            <form name="AddEmployeeForm">
                <!--ng-submit="submitForm()">-->
                <p>
                    <label for="Name">Name:</label>
                    <input id="Name" type="text" name="Name" ng-model="inpName"  ng-required="true"/>
                    <abbr title="required">*</abbr>
                </p>

                <p>
                    <label for="BirthDate">
            Birth Date:
            </label>
                    <input id="BirthDate" type="text" name="BirthDate" ng-model="inpBirthDate"  ng-required="true"/>
                    <abbr title="required">*</abbr>
                </p>

                <p>
                    <label for="Gender">
            Gender
            </label>
                    <input id="Gender" type="text" name="Gender" ng-model="inpGender"  ng-required="true"/>
                    <abbr title="required">*</abbr>
                </p>
                <!--selectedAddDepartmentIndex-->
                <p>
                    <label for="insertDepartment">
                    Department: 
                    </label>
                    <select ng-model="selectedAddDepartmentIndex" id="insertDepartment" ng-required="true">
                        <option ng-repeat="department in theDepartments" value="{{$index}}">{{department.name}}</option>
                    </select>
                    <abbr title="required">*</abbr>
                </p>
                
                <button ng-disabled="AddEmployeeForm.$invalid" ng-click="AddToList()" class="btn btn-primary">Add</button>
                <!--      <button ng-click="RemoveFromList()">Remove</button>-->
            </form>
        </div>

        <div id="AlexRemoveEmployees" class="col-sm-4">
            <form name="removeEmployeeForm">
                <h3>To Remove</h3>
                <select ng-model="selectedEmployeeIndex1" ng-required="true">
                    <option ng-repeat="employee in employees" value="{{$index}}">{{employee.Name}}</option>
                </select>
                <button ng-disabled="removeEmployeeForm.$invalid" ng-click="ComboBoxRemove()" class="btn btn-danger">Remove</button>
            </form>
        </div>

        <div id="AlexUpdateEmployees" class="col-sm-4">
            <h3>To Update</h3>
            <form name="updateForm">
                <p>
                    <label for="updatedName">
                    Name:
                    </label>
                    <select ng-model="selectedEmployeeIndex2" id="updatedName" ng-required="true">
                        <option ng-repeat="employee in employees" value="{{$index}}">{{employee.no}} - {{employee.Name}}</option>
                    </select>
                    <abbr title="required">*</abbr>
                </p>
<!--                <p>
                    <label for="IDtoUpdate">
                    ID:
                    </label>
                    <select ng-model="selectedEmployeeIndex3" id="IDtoUpdate">
                        <option ng-repeat="employee in employees" value="{{$index}}">{{employee.no}}</option>
                    </select>
                </p>-->

                <p>
                    <label for="updateBirthDate">
                    Birth Date:
                    </label>
                    <input id="updateBirthDate" type="text" name="updateBirthDate" ng-model="updateBirthDate"  ng-required="true"/>
                    <abbr title="required">*</abbr>
                </p>

                <p>
                    <label for="updateGender">
                    Gender:
                    </label>
                    <input id="updateGender" type="text" name="updateGender" ng-model="updateGender"  ng-required="true"/>
                    <abbr title="required">*</abbr>
                </p>
                <p>
                    <label for="updateDepartment">
                    New department: 
                    </label>
                    <select ng-model="selectedUpdateDepartmentIndex" id="updatedName" ng-required="true">
                        <option ng-repeat="department in theDepartments" value="{{$index}}">{{department.name}}</option>
                    </select>
                    <abbr title="required">*</abbr>
                </p>
                <button ng-disabled="updateForm.$invalid" ng-click="UpdateEmployees()" class="btn btn-warning">Update</button>
            </form>
        </div>

    </div>
    <hr/>
    <br/>
</div>
<hr/>
<p>
    Showing of 'interpolate' filter: {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
