<p style="margin-top: 75px;">This is the partial for view 2 (Employees).</p>
<h4> done by Alex </h4>
<hr/>


<div class="container">


    <button class="btn btn-default disabled">Hello</button>
    <employee-data-module></employee-data-module>

    <div id="alexSearch">
        <p>
            <label for="nameSearch"> Search for Employee</label>
            <input type="text" id="nameSearch" ng-model="filterValue" />
        </p>
    </div>

    <div id="EmployeeList">
        <input type="checkbox" ng-model="alexDetails" /> Show Details (index & department)<br/><br/>
        <my-employees-list></my-employees-list>
    </div>
    <br/>

    <div id="AlexForms">
        <div id="AlexAddEmployees" class="col-sm-4">
            <h3>To Add <small>{{inpName}} : {{inpBirthDate}} : {{inpGender}}</small></h3>
            <form name="employeeForm">
                <!--ng-submit="submitForm()">-->
                <p>
                    <label for="Name">Name:</label>
                    <input id="Name" type="text" name="Name" ng-model="inpName" required/>
                    <abbr title="required">*</abbr>
                </p>

                <p>
                    <label for="BirthDate">
            Birth Date:
            </label>
                    <input id="BirthDate" type="text" name="BirthDate" ng-model="inpBirthDate" required/>
                    <abbr title="required">*</abbr>
                </p>

                <p>
                    <label for="Gender">
            Gender
            </label>
                    <input id="Gender" type="text" name="Gender" ng-model="inpGender" required/>
                    <abbr title="required">*</abbr>
                </p>
                <button ng-click="AddToList()" class="btn btn-primary">Add</button>
                <!--      <button ng-click="RemoveFromList()">Remove</button>-->
            </form>
        </div>

        <div id="AlexRemoveEmployees" class="col-sm-4">
            <h3>To Remove</h3>
            <select ng-model="selectedEmployeeIndex1">
                <option ng-repeat="employee in employees" value="{{$index}}">{{employee.Name}}</option>
            </select>
            <button ng-click="ComboBoxRemove()" class="btn btn-danger">Remove</button>
        </div>

        <div id="AlexUpdateEmployees" class="col-sm-4">
            <h3>To Update</h3>
            <form name="employeeForm">
                <p>
                    <label for="updatedName">
                    Name:
                    </label>
                    <select ng-model="selectedEmployeeIndex2" id="updatedName">
                        <option ng-repeat="employee in employees" value="{{$index}}">{{employee.Name}}</option>
                    </select>
                </p>
                <p>
                    <label for="updateBirthDate">
                    Birth Date:
                    </label>
                    <input id="updateBirthDate" type="text" name="updateBirthDate" ng-model="updateBirthDate" required/>
                    <abbr title="required">*</abbr>
                </p>

                <p>
                    <label for="updateGender">
                    Gender:
                    </label>
                    <input id="updateGender" type="text" name="updateGender" ng-model="updateGender" required/>
                    <abbr title="required">*</abbr>
                </p>
                <button ng-click="UpdateEmployees()" class="btn btn-warning">Update</button>
            </form>
        </div>

    </div>
    <hr/>
    <br/>
</div>
<hr/>
<p>
    Showing of 'interpolate' filter: {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
