<p>This is the partial for view 1.</p>
<p> Assignment 1 Deparments table</p>
<div id="searchM">
    <p>
        <label for="nameSearch"> Search 
        <input type="text" id="nameSearch" ng-model="filterValue" />
        </label>
    </p>
</div>

<div id="DepartmentsTable">
    <input type="checkbox" ng-model="viewInfo" /> View Details<br/><br/>
    <departments-Table></departments-Table>
</div>
<hr/>
<div id="AddWeek3">
<h3> Add </h3>
    <form name="departmentForm">
    <p>
            <label for="Id">
            <span>Id:</span>
            <input id="Id" type="text" name="Id" ng-model="inputId" required/>
            <abbr title="required">*</abbr>
            </label>
        </p>
    
        <p>
            <label for="Name">
            <span>Name:</span>
            <input id="Name" type="text" name="Name" ng-model="inputName" required/>
            <abbr title="required">*</abbr>
            </label>
        </p>
        
        <p>
            <label for="Headquarters">
            <span>Headquarters:</span>
            <input id="Headquarters" type="text" name="Headquarters" ng-model="inputHeadquarters" required/>
            <abbr title="required">*</abbr>
            </label>
        </p>
        <button ng-click="AddDepartmentToList()">Add</button>
    </form>
</div>
<br/>
<hr>
<div id="RemoveWeek3">
<h3>Remove</h3>
    <select ng-model="selectedDepartmentIndex">
        <option ng-repeat="department in departments" value="{{$index}}">{{department.Name}}</option>
    </select>

    <button ng-click="CBRemove()">Remove</button>
</div>
<hr>
<h3>Update departments</h3>
<div id="UpdateDepartment">
    <form name="departmentForm">
        <p>
            <label for="Name">
            <span>Name:</span>
            <select ng-model="SelectedDepartmentUpdate">
             <option ng-repeat="department in departments" value="{{$index}}">{{department.Name}}</option>
            </select>
            </label>
        </p>

        <p>
            <label for="Id">
            <span>Id:</span>
            <input id="updateId" type="text" name="Id" ng-model="updateId" required/>
            <abbr title="required">*</abbr>
            </label>
        </p>

        <p>
            <label for="name">
            <span>Name:</span>
            <input id="updateName" type="text" name="Name" ng-model="updatedInputName" required/>
            <abbr title="required">*</abbr>
            </label>
        </p>
        
        <p>
            <label for="headquarters">
            <span>Headquarters:</span>
            <input id="updateHeadquarters" type="text" name="Headquarters" ng-model="updatedInputHeadquarters" required/>
            <abbr title="required">*</abbr>
            </label>
        </p>
        <button ng-click="UpdateDepartment()">Update</button>
    </form>
</div>
<hr>
<!--<h3>View details - departments</h3>
<div id="ViewDepartment">
    <form name="departmentForm">
        <p>
            <label for="Name">
            <span>Name:</span>
            <select ng-model="SelectedDepartmentView">
             <option ng-repeat="department in departments" value="{{$index}}">{{department.Name}}</option>
            </select>
            </label>
        </p>

        <p>
            <label for="Id">
            <span>Id:</span>
            <input id="viewId" type="text" name="Id" ng-model="viewId" required/>
            <abbr title="required"></abbr>
            </label>
        </p>
        
        <p>
            <label for="headquarters">
            <span>Headquarters:</span>
            <input id="viewHeadquarters" type="text" name="Headquarters" ng-model="viewHeadquarters" required/>
            <abbr title="required"></abbr>
            </label>
        </p>
        <button ng-click="ViewDepartment()">View</button>
    </form>
</div>
--!>

<p>done by Marina </p>