<p style="margin-top: 75px;">This is the partial for dashboard.</p>
<hr/>
<div class="container">
<form action="">
<!--  <input type="radio" ng-model="selectedFilter" value="Name"> Employee<br/>
  <input type="radio" ng-model="selectedFilter" value="Name2"> Department<br/>

        <label for="nameSearch"> Search for Employee</label>
        <input type="text" id="nameSearch" ng-model="filterValue[selectedFilter]" ng-init="selectedFilter='Name'" />-->
        <div class="col-sm-4">
        <label class="label label-info" for="taskSearch"> Filter by Taks: </label>
        <input type="te" id="taskSearch" ng-model="filterTask"/>
        </div>
        <div class="col-sm-4">
        <label class="label label-info" for="employeeSearch"> Filter by Employee: </label>
        <input type="text" id="employeeSearch" ng-model="filterEmployee" />
        </div>
        <div class="col-sm-4">
        <label class="label label-info" for="departmentSearch"> Filter by Department: </label>
        <input type="text" id="departmentSearch" ng-model="filterDepartment" />
        </div>
</form>
<!--<br/>
tempstring1 = {{filterEmployee}}
<br/>
tempstring2 = {{filterDepartment}}-->
<div class="col-sm-4">
<h3>Tasks</h3>
<ul class="list-group-item" ng-repeat="task in tasks| filter: {title: filterTask}">
  <li>Task number: {{task.number}} <a href="" ng-click="ShowTaskInfo(task)">View</a></li>
</ul>
<div id="showTask" ng-show="TaskVisible" class="alert alert-info"></div>
</div>
<div class="col-sm-4">
<h3>Employees</h3>
<ul class="list-group-item" ng-repeat="employee in employees | filter: {Name: filterEmployee, Department: filterDepartment}">
  <li>Name: {{employee.Name}} <a href="" ng-click="ShowEmployeeInfo(employee)">View</a> </li>
</ul>
<div id="showEmployee" ng-show="EmployeeVisible" class="alert alert-info"></div>
</div>
<div class="col-sm-4">
<h3>Departments</h3>                           <!--//Name: filterDepartment, -->
<ul class="list-group-item" ng-repeat="department in departments | filter: {name:filterDepartment}">
  <li>Name: {{department.name}} <a href="" ng-click="ShowDepartmentInfo(department)">View</a> </li>
</ul>
<div id="showDepartment" ng-show="DepartmentVisible" class="alert alert-info"></div>
</div>
</div>
<div ui-calendar ng-model="eventSources"></div>
